h4.group {
  font-weight: bold;
  background-color: var(--vscode-editor-background);
  padding-bottom: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

div.group-entries {
  margin-left: 2rem;
}

div.entry {
  margin-bottom: 1rem;
}

div.entry > p.details {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

div.entry > p.key {
  opacity: 0.8;
  font-family: monospace;
  margin-bottom: 0.2rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.link-button {
  color: var(--vscode-textLink-foreground);
  text-decoration: underline;
}

.link-button:hover {
  text-decoration: none;
  cursor: pointer;
}
