#entries-wrapper .stbl-entry {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

#entries-wrapper .stbl-entry .key {
  font-family: monospace;
  opacity: 0.8;
}

.link-button {
  color: var(--vscode-textLink-foreground);
  text-decoration: underline;
}

.link-button:hover {
  cursor: pointer;
  text-decoration: none;
}

.margin-bottom {
  margin-bottom: 1rem;
}
